
.HeaderText {
    color: black(19, 35, 250, 0.178);
    background-color: gray;
}

.ADDVehicles {
    color: red;
    background-color: aqua;
}

#title {
    color: orange;
    background-color: brown;
}
p {
    color: black;
}